<div class="channels">

	<div class="channel-strip disabled config-channel-strip" ng-repeat="(channelIdx, channel) in animEditCtrl.animations[animEditCtrl.editingAnimation].faderConfig">
		<p class="channel-name"><input type="text" ng-model="channel.name"></p>
		<p class="channel-value">Ch {{channel.channelId + 1}}</p>
		<p class="channel-type"><select ng-model="channel.type"><option value="basic">Basic</option></select></p>
		<p class="fader-name">Level</p>
		<fader ng-model="x" direction="rtl" min="0" max="255" orientation="vertical" behaviour="none" connect="lower"></fader>
		<!--<div class="channel-swap-button" ng-show="configEditCtrl.editingPage != 0">
			<button ng-click="animEditCtrl.swapChannels(channelIdx, channelIdx - 1)" ng-class="{disabled: channelIdx == 0}"><i class="fa fa-arrow-left"></i></button>
			<button ng-click="animEditCtrl.swapChannels(channelIdx, channelIdx + 1)" ng-class="{disabled: channelIdx >= (animEditCtrl.animations[animEditCtrl.editingAnimation].faderConfig.length - 1)}"><i class="fa fa-arrow-right"></i></button>
		</div>-->
		<button class="config-delete-channel" ng-click="animEditCtrl.delChannel(channelIdx)"><i class="fa fa-trash"></i> Delete</button>
	</div>
	<div class="channel-strip config-channel-strip">
		<p class="channel-name"><input type="text" ng-model="animEditCtrl.newChannel.name"></p>
		<p class="channel-value">Ch {{animEditCtrl.newChannel.channelId + 1}}</p>
		<p class="channel-type"><select ng-model="animEditCtrl.newChannel.type"><option value="basic">Basic</option></select></p>
		<button class="config-add-channel" ng-click="animEditCtrl.addChannel()">Add New Channel</button>
	</div>

</div>
