<div class="sidebar scene-sidebar" ng-controller="AnimationListController as animListCtrl">
	<h4>Animations</h4>
	<ul class="animations" ng-repeat="anim in animListCtrl.animations track by anim.id">
		<li ng-class="{active: animListCtrl.getCurrentAnimation() == anim.id}">
			<a ui-sref="animations.edit({animationId: anim.id})">{{$index + 1}}. {{anim.name}} ({{anim.numChannels}} ch, {{animListCtrl.getTotalDuration(anim)}}ms)</a>
			<div class="buttons">
				<button class="delete-scene" ng-click="animListCtrl.delAnimation(anim.id)"><i class="fa fa-trash"></i></button>
				<button ng-show="animListCtrl.getCurrentAnimation() == anim.id" class="add-keyframe" ng-click="animListCtrl.addKeyFrame(anim.id)"><i class="fa fa-plus"></i></button>
			</div>
		</li>
		<li class="keyframe" ng-if="animListCtrl.getCurrentAnimation() == anim.id" ng-repeat="keyFrame in anim.keyFrames" ng-class="{active: animListCtrl.getCurrentKeyFrame() == $index}">
			<div class="buttons">
				<button ng-if="anim.keyFrames.length > 2" class="delete-scene" ng-click="animListCtrl.delKeyFrame(anim.id, $index)"><i class="fa fa-trash"></i></button>
			</div>
			<a ui-sref="animations.edit.keyframe({animationId: anim.id, keyFrameIdx: $index})">Keyframe {{$index + 1}} (&#8594;{{keyFrame.waitTime}}ms)</a>
		</li>
	</ul>
	<div class="sidebar-buttons">
		<button class="add-scene" ng-click="animListCtrl.addNew()"><i class="fa fa-plus"></i> New Animation</button>
	</div>
</div>
<div class="scene-content" ui-view>
</div>
