<div class="bar">
	<form>
		<label for="anim-transition-time">Transition Time</label>
		<input type="number" class="transition-time" name="anim-transition-time" ng-model="animKFCtrl.animations[animKFCtrl.editingAnimation].keyFrames[animKFCtrl.editingKeyFrame].transitionTime" />
		<span class="milliseconds">ms</span>
		<label for="anim-easing">Easing</label>
		<select name="anim-easing" ng-options="easing for easing in animKFCtrl.easings"  ng-model="animKFCtrl.animations[animKFCtrl.editingAnimation].keyFrames[animKFCtrl.editingKeyFrame].easing"></select>
		<label for="anim-frame-time">Frame Time</label>
		<input type="number" class="transition-time" name="anim-frame-time" ng-model="animKFCtrl.animations[animKFCtrl.editingAnimation].keyFrames[animKFCtrl.editingKeyFrame].waitTime" />
		<span class="milliseconds">ms</span>
	</form>
</div>
<div class="channels">
	<div class="channel-strip" ng-repeat="channel in animKFCtrl.animations[animKFCtrl.editingAnimation].faderConfig" ng-class="{disabled: !animKFCtrl.channelEnabled(channel.channelId)}">
		<p class="channel-name">{{channel.name}}</p>
		<p class="channel-value">{{animKFCtrl.animations[animKFCtrl.editingAnimation].keyFrames[animKFCtrl.editingKeyFrame].channels[channel.channelId] || 0}}</p>
		<p class="fader-name">Level</p>
		<fader ng-model="animKFCtrl.animations[animKFCtrl.editingAnimation].keyFrames[animKFCtrl.editingKeyFrame].channels[channel.channelId]" direction="rtl" min="0" max="255" orientation="vertical" behaviour="none" connect="lower"></fader>
		<button ng-hide="animKFCtrl.channelEnabled(channel.channelId)" ng-click="animKFCtrl.toggleChannel(channel.channelId)">Enable</button>
		<button ng-show="animKFCtrl.channelEnabled(channel.channelId)" ng-click="animKFCtrl.toggleChannel(channel.channelId)">Disable</button>
	</div>
</div>
