<div class="bar">
	<form>
		<label for="anim-name">Name</label>
		<input type="text" id="anim-name" class="name" ng-model="animEditCtrl.animations[animEditCtrl.editingAnimation].name" />
		<label for="anim-channels">Channels</label>
		<input type="text" id="anim-channels" class="anim-channel-count" ng-model="animEditCtrl.animations[animEditCtrl.editingAnimation].numChannels" readonly="readonly" />
	</form>
</div>
<ui-view>
	<ng-include src="'partials/animations-edit-channels.html'" />
</ui-view>
