<div class="sidebar scene-sidebar" ng-controller="ConfigListController as configListCtrl">
	<h4>Pages</h4>
	<ul class="scenes">
		<li ng-repeat="(pageIdx,page) in configListCtrl.channels track by pageIdx" ui-sref-active="active">
			<a ui-sref="config({pageNum: pageIdx})">{{pageIdx + 1}}. {{page.name}}</a>
			<div class="buttons">
				<button class="scene-move-up" ng-class="{disabled: pageIdx <= 1}" ng-click="configListCtrl.swapPages(pageIdx, pageIdx - 1)"><i class="fa fa-arrow-up"></i></button>
				<button class="scene-move-down" ng-class="{disabled: pageIdx == (configListCtrl.channels.length - 1) || pageIdx == 0}" ng-click="configListCtrl.swapPages(pageIdx, pageIdx + 1)"><i class="fa fa-arrow-down"></i></button>
				<button class="delete-scene" ng-click="configListCtrl.delPage(pageIdx)" ng-class="{disabled: pageIdx == 0}"><i class="fa fa-trash"></i></button>
			</div>
		</li>
	</ul>
	<div class="sidebar-buttons">
		<button class="add-scene" ng-click="configListCtrl.addNew()"><i class="fa fa-plus"></i> Add Page</button>
	</div>
</div>
<div class="scene-content" ng-controller="ConfigEditController as configEditCtrl" ng-show="(configEditCtrl.editingPage || configEditCtrl.editingPage === 0) && configEditCtrl.channels[configEditCtrl.editingPage]">
	<div class="bar">
		<form>
			<label for="scene-name">Name</label>
			<input type="text" name="scene-name" class="name" ng-model="configEditCtrl.channels[configEditCtrl.editingPage].name" />
		</form>
	</div>
	<div class="channels">
		<div class="channel-strip disabled config-channel-strip" ng-repeat="(channelIdx, channel) in configEditCtrl.channels[configEditCtrl.editingPage].channels">
			<p class="channel-name"><input type="text" ng-model="channel.name"></p>
			<p class="channel-value">Ch <input type="number" min="1" max="100" ng-model="channel.channelId" ng-show="configEditCtrl.editingPage != 0"><span ng-show="configEditCtrl.editingPage == 0">{{channel.channelId}}</span></p>
			<p class="channel-type"><select ng-show="configEditCtrl.editingPage != 0" ng-model="channel.type"><option value="basic">Basic</option></select><span ng-show="configEditCtrl.editingPage == 0">{{channel.type}}</span></p>
			<p class="fader-name">Level</p>
			<fader ng-model="x" direction="rtl" min="0" max="255" orientation="vertical" behaviour="none" connect="lower"></fader>
			<div class="channel-swap-button" ng-show="configEditCtrl.editingPage != 0">
				<button ng-click="configEditCtrl.swapChannels(channelIdx, channelIdx - 1)" ng-class="{disabled: channelIdx == 0}"><i class="fa fa-arrow-left"></i></button>
				<button ng-click="configEditCtrl.swapChannels(channelIdx, channelIdx + 1)" ng-class="{disabled: channelIdx >= (configEditCtrl.channels[configEditCtrl.editingPage].channels.length - 1)}"><i class="fa fa-arrow-right"></i></button>
			</div>
			<button class="config-delete-channel" ng-show="configEditCtrl.editingPage != 0" ng-click="configEditCtrl.delChannel(channelIdx)"><i class="fa fa-trash"></i> Delete</button>
		</div>
		<div class="channel-strip config-channel-strip" ng-show="configEditCtrl.editingPage != 0">
			<p class="channel-name"><input type="text" ng-model="configEditCtrl.newChannel.name"></p>
			<p class="channel-value">Ch <input type="number" min="1" max="100" ng-model="configEditCtrl.newChannel.channelId"></p>
			<p class="channel-type"><select ng-model="configEditCtrl.newChannel.type"><option value="basic">Basic</option></select></p>
			<button class="config-add-channel" ng-click="configEditCtrl.addChannel()">Add New Channel</button>
		</div>
	</div>
</div>
