<div class="channels"ng-controller="FaderChannelController as faderChannelCtrl">
	<!-- note to future self: you tried to optimise that ng-repeat already, but it's like that for a reason -->
	<div class="channel-strip" ng-repeat="channel in faderChannelCtrl.channels[faderChannelCtrl.currentFaderPage].channels">
		<p class="channel-name">{{channel.name}}</p>
		<p class="channel-value">{{faderChannelCtrl.channelLevels[channel.channelId]}}</p>
		<p class="fader-name">Level</p>
		<fader ng-model="faderChannelCtrl.channelLevels[channel.channelId]" direction="rtl" min="0" max="255" orientation="vertical" behaviour="none" connect="lower"></fader>
		<button ng-mousedown="faderChannelCtrl.flashOn(channel.channelId)" ng-touchstart="faderChannelCtrl.flashOn(channel.channelId)" ng-touchend="faderChannelCtrl.flashOff(channel.channelId)" ng-mouseout="faderChannelCtrl.flashOff(channel.channelId)" ng-mouseup="faderChannelCtrl.flashOff(channel.channelId)">Flash</button>
	</div>
</div>


<div class="sidebar">
	<div ng-controller="FaderSceneController as faderSceneCtrl">
		<h4>Scenes</h4>
		<ul class="scenes">
			<li ng-click="faderSceneCtrl.stage(sceneIdx);" ng-class="{active: sceneIdx == faderSceneCtrl.selectedScenes.staged}" ng-repeat="(sceneIdx,scene) in faderSceneCtrl.scenes track by scene.id">{{sceneIdx + 1}}. {{scene.name}}</li>
		</ul>
		<div class="sidebar-buttons">
			<button ng-click="faderSceneCtrl.createScene();">Create Scene <i class="fa fa-floppy-o"></i></button>
			<button ng-disabled="faderSceneCtrl.selectedScenes.staged > faderSceneCtrl.scenes.length" ng-click="faderSceneCtrl.activate();">Activate <i class="fa fa-arrow-right"></i></button>
		</div>
	</div>
	<div ng-controller="FaderAnimController as faderAnimCtrl">
		<h4>Animations</h4>
		<ul class="scenes">
			<li ng-repeat="anim in faderAnimCtrl.runningAnimations">
				<button class="delete-scene pull-right" ng-click="faderAnimCtrl.cancelAnimation(anim.id)"><i class="fa fa-stop"></i></button>
				{{faderAnimCtrl.animations[anim.animationId].name}}<br />
				Ch {{anim.baseChannel + 1}}<span ng-show="faderAnimCtrl.animations[anim.animationId].numChannels > 1">-{{anim.baseChannel + faderAnimCtrl.animations[anim.animationId].numChannels}}</span>, <i class="fa fa-refresh"></i>
				<span ng-if="anim.remainingCycles >= 0">{{anim.remainingCycles}}</span>
				<span ng-if="anim.remainingCycles == -1">Scene</span>
			</li>
		</ul>
		<h5>Start New</h5>
		<div class="anim-start-new">
			<label for="anim-start-anim">Animation</label>
			<select id="anim-start-anim" ng-model="faderAnimCtrl.newAnim.animId" ng-options="anim.id as anim.name for anim in faderAnimCtrl.animations"></select>
		</div>
		<div class="anim-start-new" ng-controller="FaderChannelController as faderChannelCtrl">
			<label for="anim-start-channel">Start Ch</label>
			<select id="anim-start-channel" ng-model="faderAnimCtrl.newAnim.baseChannel" ng-options="channel.channelId as channel.name for channel in faderChannelCtrl.channels[faderChannelCtrl.currentFaderPage].channels"></select>
		</div>
		<div class="anim-start-new">
			<label for="anim-start-cycle">Cycles</label>
			<select id="anim-start-cycle" ng-model="faderAnimCtrl.newAnim.cycleSelect">
				<option value="-1">Until Scene</option>
				<option value="-2">Until Stopped</option>
				<option value="1">Once</option>
				<option value="0">Number</option>
			</select>
			<input ng-disabled="faderAnimCtrl.newAnim.cycleSelect != 0" ng-model="faderAnimCtrl.newAnim.cycleCount" type="text" size="3" value="0" />
		</div>
		<div class="sidebar-buttons">
			<button ng-click="faderAnimCtrl.startAnimation()">Run Animation <i class="fa fa-play"></i></button>
		</div>
	</div>
</div>
