<div class="navbar" ng-controller="NavCtrl as navCtrl">
	<h1><i class="fa fa-lightbulb-o"></i> LTBL</h1>
	<ul>
		<li>
			<a ui-sref-active="active" ui-sref="faders">Faders <i class="fa fa-caret-down"></i></a>
			<ul>
				<li ng-repeat="(idx, uipage) in navCtrl.channels track by idx">
					<a ui-sref="faders({pageNum: idx})" ui-sref-active="active"><i class="fa fa-caret-right"></i> {{uipage.name}}</a>
				</li>
			</ul>
		</li>
		<li><a ui-sref-active="active" ui-sref="scenes">Scene Manager</a></li>
		<li><a ui-sref-active="active" ui-sref="config({pageId: 0})">UI Config</a></li>
		<li><a ui-sref-active="active" ui-sref="animations">Animations</a></li>
	</ul>
	<ul class="nav-right">
		<li><a href="javascript: void(0)" ng-click="navCtrl.saveShow()">Save Show</a></li>
		<li class="navFullscreen"><a href="javascript: void(0)" ng-click="navCtrl.fullScreen()">Go Fullscreen</a></li>
	</ul>
</div>
