
<div class="bar">
	<form>
		<label for="scene-name">Name</label>
		<input type="text" name="scene-name" class="name" ng-model="sceneEditCtrl.scenes[sceneEditCtrl.editingScene].name" />
		<label for="scene-transition-time">Time</label>
		<input type="number" class="transition-time" name="scene-transition-time" ng-model="sceneEditCtrl.scenes[sceneEditCtrl.editingScene].transitionTime" />
		<span class="milliseconds">ms</span>
		<label for="scene-easing">Easing</label>
		<select name="scene-easing" ng-options="easing for easing in sceneEditCtrl.easings"  ng-model="sceneEditCtrl.scenes[sceneEditCtrl.editingScene].easing"></select>
	</form>
</div>
<div class="bar pages" ng-show="sceneEditCtrl.channels">
	<ul>
		<li ng-click="sceneEditCtrl.cache.currentFaderPage = pageIdx" ng-class="{active: pageIdx == sceneEditCtrl.cache.currentFaderPage}" ng-repeat="(pageIdx, page) in sceneEditCtrl.channels track by pageIdx">{{page.name}}</li>
	</ul>
</div>
<div class="channels">
	<div class="channel-strip" ng-repeat="channel in sceneEditCtrl.channels[sceneEditCtrl.cache.currentFaderPage].channels" ng-class="{disabled: !sceneEditCtrl.channelInScene(channel.channelId)}">
		<p class="channel-name">{{channel.name}}</p>
		<p class="channel-value">{{sceneEditCtrl.scenes[sceneEditCtrl.editingScene].channels[channel.channelId] || 0}}</p>
		<p class="fader-name">Level</p>
		<fader ng-model="sceneEditCtrl.scenes[sceneEditCtrl.editingScene].channels[channel.channelId]" direction="rtl" min="0" max="255" orientation="vertical" behaviour="none" connect="lower"></fader>
		<button ng-hide="sceneEditCtrl.channelInScene(channel.channelId)" ng-click="sceneEditCtrl.toggleChannel(channel.channelId)">Enable</button>
		<button ng-show="sceneEditCtrl.channelInScene(channel.channelId)" ng-click="sceneEditCtrl.toggleChannel(channel.channelId)">Disable</button>
	</div>
</div>
