<div class="sidebar scene-sidebar" ng-controller="SceneListController as sceneListCtrl">
	<h4>Scenes</h4>
	<ul class="scenes">
		<li ng-repeat="(sceneIdx,scene) in sceneListCtrl.scenes track by scene.id" ng-class="{active: sceneListCtrl.getCurrentScene() == sceneIdx}">
			<a ui-sref="scenes.edit({sceneId: sceneIdx})">{{sceneIdx + 1}}. {{scene.name}} (&#8594;{{scene.transitionTime}}ms)</a>
			<div class="buttons">
				<button class="delete-scene" ng-click="sceneListCtrl.delScene(sceneIdx)"><i class="fa fa-trash"></i></button>
				<button class="scene-move-up" ng-class="{disabled: sceneIdx == 0}" ng-click="sceneListCtrl.swapScenes(sceneIdx, sceneIdx - 1)"><i class="fa fa-arrow-up"></i></button>
				<button class="scene-move-down" ng-class="{disabled: sceneIdx == (sceneListCtrl.scenes.length - 1)}" ng-click="sceneListCtrl.swapScenes(sceneIdx, sceneIdx + 1)"><i class="fa fa-arrow-down"></i></button>
			</div>
		</li>
	</ul>
	<div class="sidebar-buttons">
		<button class="add-scene" ng-click="sceneListCtrl.addNew()"><i class="fa fa-plus"></i> Add Scene</button>
	</div>
</div>
<div class="scene-content" ui-view>
</div>
