@import 'bourbon';
@import 'neat';
@import 'partials/colours';
@import 'partials/spacing';
@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/alerts';
@import 'partials/breakpoints';
@import 'partials/floats';

*{
	@include reset-spacing;
	user-select: none;
}


html, body{
	height: 100%;
}

body{
	@include reset-margin;
	font-family: $font-family-body;
	background-color: lighten(black, 10%);
	display: flex;
	flex-direction: column;
	width: 100%;
	color: $white;
	overflow-y: hidden;
	&:-webkit-full-screen{
		.navFullscreen {
			visibility: hidden;
		}
	}
}

h1,h2,h3,h3,h4,h5,h6,p{
	font-family: $font-family-heading;
	font-weight: $font-weight-normal;
	text-transform: capitalize;
}

p{
	font-family: $font-family-body;
	margin-bottom: $spacing-small;
}

a{
	color: $white;
	text-decoration: none;
}

.btn, button{
	@include button($accent, darken($accent, 20%));
}

.navbar{
	background-color: $accent;
	box-shadow: 0px 3px 15px lighten($black, 5%);
	z-index: 1;
	color: $white;
	height: 60px;
	flex-shrink: 0;
	h1, ul li a{
		vertical-align: middle;
		padding: $spacing-medium;
	}
	h1{
		@include float-left;
		display: inline-block;
		line-height: 1;
		width: auto;
	}
	ul{
		list-style: none;
		display: inline-block;
		height: 100%;
		&.nav-right{
			float: right;
		}
		li{
			display: inline-block;
			height: 100%;
			position: relative;
			background-color: $accent;
			&:hover{
				background-color: lighten($accent, 10%);
				ul{
					display: block;
					z-index: 9999;
				}
			}
			a{
				@include float-left;
				color: $white;
				padding: 20px;
				height: 100%;
				line-height: 1;
				font-size: $body-font-size-normal;
				text-decoration: none;
				display: inline-block;
				font-family: $font-family-body;
				width: auto;
				border-bottom: 3px solid transparent;
				overflow: hidden;
				i{
					&.fa-caret-down{
						margin-left: $spacing-small;
					}
					&.fa-caret-right{
						margin-right: $spacing-small;
						visibility: hidden;
					}
				}
				&.active{
					border-bottom: 3px solid $white;
				}
			}
			ul{
				display: none;
				clear: both;
				float: none;
				position: absolute;
				top: 60px;
				left: 0px;
				li{
					display: block;
					min-width: 100%;
					white-space: nowrap;
					a.active{
						border-bottom: 3px solid transparent;
						i{
							&.fa-caret-right{
								visibility: visible;
								margin-right: $spacing-small;
							}
						}
					}
				}
			}
		}
	}
	button{
		@include flat-button($accent, $white);
		@include float-right;
		padding: $spacing-medium $spacing-large;
		margin: $spacing-small $spacing-medium 0px 0px;
	}
}

.container-fluid{
	@include reset-padding;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	width: 100%;
}

.sidebar{
	background-color: darken($accent, 15%);
	width: calc(100% - 50px);
	max-width: 300px;
	padding: $spacing-large;
	color: $white;
	font-size: $body-font-size-normal;
	line-height: 1.5;
	flex-shrink:0;
	overflow-y: auto;
	h4{
		margin: $spacing-medium 0px $spacing-small 0px;
		font-size: $heading-font-size-4;
	}
	h5{
		margin: $spacing-medium 0px $spacing-small 0px;
		font-size: $heading-font-size-5;
	}
	ul{
		list-style: none;
		margin-bottom: $spacing-large;
		&.animations {
			margin-bottom: $spacing-small;
		}
		li{
			padding: $spacing-medium;
			font-size: $body-font-size-large;
			font-family: $font-family-body;
			overflow: hidden;
			cursor: pointer;
			&.keyframe {
				margin-left: $spacing-medium;
				margin-top: $spacing-small;
				div.buttons {
					margin-top: auto;
					float: right;
				}
			}
			a{
				@include float-left;
				padding: $spacing-small;
				display: inline-block;
			}
			div.buttons{
				overflow: hidden;
				display: block;
				clear: both;
				float: none;
				margin-top: $spacing-xlarge;
				button{
					@include float-left;
					color: $white!important;
					padding: $spacing-small $spacing-medium;
					font-size: $body-font-size-normal;
					margin-right: $spacing-small;
					&.add-keyframe {
						@include button(green, $white)
						@include float-right;
						padding: $spacing-small $spacing-medium;
					}
					&.delete-scene{
						@include button(darkred, $white);
						@include float-right;
						padding: $spacing-small $spacing-medium;
					}
					&.disabled {
						visibility: hidden;
					}
				}
			}
			span{
				//font-size: $body-font-size-small;
			}
			&:nth-of-type(2n+1){
				background-color: darken($accent, 10%);
			}
			&.active{
				background-color: lighten($accent, 10%);
			}
		}
	}
	button {
		color: $white!important;
	}
	.sidebar-buttons button{
		@include span-columns(6);
		@include omega(2n);
	}
	div.anim-start-new {
		input, select, label{
			margin-bottom: $spacing-medium;
			display: block;
			height: 30px;
			padding: $spacing-small;
		}
		input, select{
			font-size: $body-font-size-normal;
			border: 1px solid #777;
			background-color: #444;
			color: $white;
			&:disabled{
				background-color: #333;
				color: #555;
				border-color: #555;
				cursor: not-allowed;
			}
		}
		clear: both;
		label {
			@include span-columns(4);
			text-align: right;
		}
		select {
			@include span-columns(8);
			&#anim-start-cycle {
				@include span-columns(5);
			}
		}
		input {
			@include span-columns(3);
		}
	}
}

.channels{
	flex-grow: 1;
	display: flex;
	align-items: stretch;
	overflow-x: auto;
	.channel-strip{
		color: $white;
		flex-shrink: 0;
		flex-direction: column;
		border-collapse: collapse;
		display: flex;
		padding: $spacing-large;
		text-align: center;
		&:nth-of-type(2n+1){
			background-color: lighten($black, 15%);
		}
		&.disabled{
			background-color: lighten($black, 10%);
			&:not(.config-channel-strip) p{
				color: #777;
			}
			fader{
				background-color: lighten($black, 15%);
				.noUi-handle{
					display: none;
				}
				.noUi-origin.noUi-connect{
					background-color: lighten($black, 15%);
				}
			}
		}
		p.fader-name{
			font-size: $body-font-size-small;
			padding-top: $spacing-small;
		}
		fader{
			@include float-center;
			margin-top: $spacing-large;
			display: block;
			margin-bottom: $spacing-xlarge;
			.noUi-origin.noUi-connect{
				background-color: $accent;
			}
			position: relative;
			.noUi-base{
				// Workaround to go from flexbox to normal height: 100%
				position: absolute;
			}
			&.noUi-vertical .noUi-handle{
				width: 38px;
				left: -11px;
				&:after, &:before{
					width: 23px;
				}
			}
			flex-grow: 1;
		}
		div.channel-swap-button{
			margin-bottom: $spacing-medium;
			button {
				padding: $spacing-small $spacing-medium;
				&.disabled {
					visibility: hidden;
				}
			}
		}
		button{
			@include button($accent, $white);
			@include float-center;
			font-size: $body-font-size-normal;
			padding: $spacing-medium;
			&.config-delete-channel {
				@include button(darkred, $white);
			}
		}
		&.config-channel-strip {
			input[type=text]{
				width: 80px;
			}
			input[type=number]{
				width: 40px;
			}
		}
	}
}

.scene-content{
	//display: flex;
	//flex-direction: column;
	.bar{
		padding: $spacing-medium $spacing-small;
		overflow: hidden;
		background-color: #333;
		width: calc(100vw - 300px);
		&:nth-of-type(2n){
			background-color: #444;
		}
		ul{
			list-style: none;
			margin-bottom: 0px;
			li{
				@include float-left;
				padding: $spacing-small $spacing-medium $spacing-medium $spacing-medium;
				margin-right: $spacing-medium;
				border-bottom: 1px solid transparent;
				cursor: pointer;
				&.active{
					border: 1px solid #666;
					border-bottom: 0px;
				}
				&:hover{
					background-color: #555;
				}
			}
		}
		&.pages{
			padding: $spacing-medium $spacing-small 0px $spacing-medium;
		}
	}
	&, & > ui-view, & > ui-view > ng-include {
		display: flex;
		flex-grow: 1;
		align-items: stretch;
		flex-direction: column;
		width: calc(100vw - 300px);
	}
	form{
		input, select, label, span.milliseconds{
			@include float-left;
			display: block;
			height: 40px;
			padding: $spacing-medium;
		}
		input, select{
			font-size: $body-font-size-normal;
			border: 1px solid #777;
			background-color: #444;
			color: $white;
		}
		input{
			&.name{
				width: 200px;
			}
			&.transition-time{
				width: 55px;
				border-right: 0px;
				padding: $spacing-medium $spacing-small $spacing-medium $spacing-medium;
				&::webkit-outer-spin-button, &::-webkit-inner-spin-button{
					-webkit-appearance: none;
				}
			}
			&.anim-channel-count{
				width: 55px;
			}
			&[type=number]::-webkit-inner-spin-button,
			&[type=number]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
		span.milliseconds{
			padding: $spacing-medium $spacing-small $spacing-small 0px;
			font-size: $body-font-size-normal;
			height: 40px;
			display: inline-block;
			border: 1px solid #777;
			border-left-width: 0px;
			background-color: #444;
			line-height: 1;
		}
	}
}
