%alert{
	@include span-columns(12);
	padding: $spacing-large;
	margin: 0px 0px $spacing-large 0px;
	border: 1px solid tint(orange, 60%);
	background-color: tint(yellow, 85%);
	h1, h2, h3, h4, h5, h6, p{
		@include reset-spacing;
		line-height: 1.5;
		margin: $spacing-medium 0px;
		color: shade(orange, 40%);
	}
	h1,h2,h3,h4,h5,h6{
		font-weight: 400;
	}
	p{
		font-size: $body-font-size-normal;
	}
	i.close{
		float: right;
		cursor: pointer;
		padding: $spacing-small;
	}
}

@mixin error{
	@extend %alert;
	background-color: tint($crimson, 85%);
	border-color: tint($crimson, 60%); 
	h1, h2, h3, h4, h5, h6, p{
		color: shade(red, 40%);
	}
	i.close{
		color: tint($crimson, 60%);
		&:hover{
			color: tint($crimson, 30%);
		}
	}
}

@mixin success{
	@extend .alert;
	background-color: tint(green, 85%);
	border-color: tint(green, 60%); 
	h1, h2, h3, h4, h5, h6, p{
		color: shade(green, 40%);
	}
	i.close{
		color: tint(green, 60%);
		&:hover{
			color: tint(green, 30%);
		}
	}
}