//*************BREAKPOINTS**************/

$large-screen:  new-breakpoint(min-width 1000px 12);
$medium-screen: new-breakpoint(min-width  669px max-width 999px 8);
$small-screen:  new-breakpoint(min-width  0px max-width 668px 4);

//***********END BREAKPOINTS************/